* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#root {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	min-height: 100vh;
	position: relative;
}

#root::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./assets/map.png');
	background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

#root::after {
	content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	background-color: rgba(255, 255, 255, 0.5);
	z-index: -1;
}

.App {
	text-align: center;
	background-color:white; 
	height: 50vh;
	width: 90%;
	max-width: 1200px;
	border-radius: 1rem;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	box-shadow: 0 0 10px 4px #008cffa1;
}

.data-div {
	align-self: stretch;
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.data-div p, .data-div div {
	display: flex;
	align-items: center;
	gap: .5rem;
}

.data-div p:last-child {
	margin-top: 1rem;
}

.leaflet-container {
	width: 50%;
	height: 100%;
	border-radius: 1rem 0 0 1rem;
}

.ip {
	background-color: #008eff;
	padding: 1rem;
	border-radius: 2rem;
	color: white;
	font-weight: 600;
	margin-bottom: 1rem;
}


.leaflet-popup-content{
	line-height: 2;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	font-family: 'Segoe UI';
}

.popup-line {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: .5rem;
}

.bold {
	color: #008eff;
	font-weight: bold;
}

.icon {
	color: #008eff;
}

@media screen and (max-width: 850px) {

	.App {
		flex-direction: column;
		height: 80vh;
	}

	.leaflet-container {
	width: 100%;
	height: 100%;
	border-radius: 0 0 1rem 1rem;
		order: 2;
}


.data-div {
	padding: 1rem;
	align-self: stretch;
	width: 100%;
	order: 1;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}


	
}