.App {
	text-align: center;
	/* background-color:#d1eaff; */
	padding: 3rem;
	margin: 3rem;
	border-radius: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 5px solid #008eff;
}

.leaflet-container {
	width: 60%;
	height: 500px;
	margin: 0 auto;
	border-radius: 1rem;
	border: 2px solid #008eff;
}

.ip {
	background-color: #008eff;
	padding: 1rem;
	border-radius: 2rem;
	color: white;
	font-weight: 600;
}

.leaflet-popup-content{
	text-align: center;
}
